#Pandas Ödevi

### - Efe Uslu

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
df=sns.load_dataset("tips")

In [5]:
##Bir DataFrame'in satır ve sütun sayısını nasıl bulabilirsiniz?
print("Satır sayısı: ", df.shape[0])
print("Sütun sayısı: ", df.shape[1])

Satır sayısı:  244
Sütun sayısı:  7

In [6]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [7]:
##Bir DataFrame'deki belirli bir sütunu nasıl seçersiniz?(tip column seciniz)

df["tip"]

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [11]:
##Bir DataFrame'deki belirli bir satırı nasıl seçersiniz?(15.satir)
df.iloc[14]

total_bill     14.83
tip             3.02
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 14, dtype: object

In [12]:
##Bir DataFrame'deki belirli bir satırın belirli bir sütunundaki değeri nasıl seçersiniz? 
##(72.satir, columns=day)
df.iloc[71]['day']

'Sat'

In [13]:
##Bir DataFrame'deki tüm sütunların adlarını nasıl alırsınız?(columns)
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [14]:
##Bir DataFrame'deki tüm sütunların veri tiplerini nasıl alırsınız?(dtypes)
df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [15]:
##Bir DataFrame'deki tüm satırların bir sütunundaki tekil değerleri nasıl
##alırsınız?(unique() methodunu kullaniniz)

df['size'].unique()

array([2, 3, 4, 1, 6, 5])

In [16]:
## DataFrame'deki belirli bir sütundaki tüm değerlerin ortalamasını nasıl hesaplayabilirsiniz?

df["total_bill"].mean()

19.78594262295082

In [19]:
## Bir DataFrame'deki belirli bir sütundaki tüm değerlerin standart sapmasını nasıl hesaplayabilirsiniz?

df["total_bill"].std()

8.902411954856856

In [20]:
## DataFrame'deki belirli bir sütunun en büyük değerini nasıl
# bulabilirsiniz?(total_tip icin yapiniz)

df["total_bill"].max()

50.81

In [22]:
##DataFrame'deki belirli bir sütunun en küçük değerini nasıl bulabilirsiniz?(tip
## sutunu icin yapiniz

df["total_bill"].min()

3.07

In [24]:
## Bir DataFrame'deki belirli bir sütundaki değerlerin sayısını nasıl
## hesaplayabilirsiniz?(count method)

df["total_bill"].count()

244

In [25]:
#Bir DataFrame'deki belirli bir sütunun medyanını nasıl hesaplayabilirsiniz? (median)

df["total_bill"].median()

17.795

In [26]:
## Bir DataFrame'deki belirli bir sütundaki en sık tekrar eden değeri nasıl
## bulabilirsiniz?(mode kullaniniz)

df["total_bill"].mode()

0    13.42
dtype: float64

In [27]:
## Bir DataFrame'deki belirli bir sütunu küçükten büyüğe nasıl sıralayabilirsiniz?

df.sort_values("total_bill", ascending=True)

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
92         5.75   1.00  Female    Yes   Fri  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
149        7.51   2.00    Male     No  Thur   Lunch     2
..          ...    ...     ...    ...   ...     ...   ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3
156       48.17   5.00    Male     No   Sun  Dinner     6
59        48.27   6.73    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

In [29]:
## Bir DataFrame'deki belirli bir sütunu büyükten küçüğe nasıl sıralayabilirsiniz?

df.sort_values("total_bill", ascending=False)

     total_bill    tip     sex smoker   day    time  size
170       50.81  10.00    Male    Yes   Sat  Dinner     3
212       48.33   9.00    Male     No   Sat  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
156       48.17   5.00    Male     No   Sun  Dinner     6
182       45.35   3.50    Male    Yes   Sun  Dinner     3
..          ...    ...     ...    ...   ...     ...   ...
149        7.51   2.00    Male     No  Thur   Lunch     2
111        7.25   1.00  Female     No   Sat  Dinner     1
172        7.25   5.15    Male    Yes   Sun  Dinner     2
92         5.75   1.00  Female    Yes   Fri  Dinner     2
67         3.07   1.00  Female    Yes   Sat  Dinner     1

[244 rows x 7 columns]

In [30]:
## Bir DataFrame'deki belirli bir sütunda belirli bir koşulu sağlayan değerleri nasıl
# seçebilirsiniz? (tip>2 icin sorgulayin)

df[df["size"] > 2]

     total_bill   tip     sex smoker  day    time  size
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
7         26.88  3.12    Male     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
227       20.45  3.00    Male     No  Sat  Dinner     4
230       24.01  2.00    Male    Yes  Sat  Dinner     4
231       15.69  3.00    Male    Yes  Sat  Dinner     3
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3

[84 rows x 7 columns]